.IMG{
  height: 180px;
  width: 200px;
}


.slider {
  height: 250px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width:70%;
  animation: scroll 40s linear infinite;
}

.slide-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translatex(0);
  }
  100% {
    transform: translatex(calc(-250px * 9));
  }
}


.slide {
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 8px;
  perspective: 100px;
}

img {
  width: 100%;
}
img:hover{
  transform: translatez(20px);
}



.slider::before,
.slider::after {
  background: linear-gradient(to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%);
  content: '';
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg); /* Corrected the syntax for rotate */
}

/* Add these media queries to make the slider responsive */

@media (max-width: 1024px) {
  .slider {
    height: 200px;
  }

  .slide-track {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .slider {
    height: 150px;
    max-width: 40rem;
  }

  .slide-track {
    max-width: 40rem;
  }

  .slide {
    height: 120px;
    width: 150px;
  }

  .IMG {
    height: 100px;
    width: 120px;
  }

  .slider::before,
  .slider::after {
    width: 20%;
  }
}
